.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  border-bottom: 1px solid #9c9191;

  ul {
    display: flex;
    list-style-type: none;
    gap: 8px;
    padding: 0;
    margin: 0;

    li {
      display: inline;
      .active {
         border-radius: 4px;
         background: var(--color-secondary-dark);
         color: var(--color-text-light);
       }

      button {
        display: inline-block;
        color: var(--color-text-dark);
        text-align: center;
        padding: 8px 16px;
        text-decoration: none;
        background-color: transparent;
        border-radius: 4px;
        margin-bottom: 10px;

        &:hover {
          background-color: var(--color-text-dark);
          color: var(--color-text-light);
        }
      }
    }
  }

  .navbar-icons {
    display: flex;
    gap: 32px;

    a {
      text-decoration: none;
      color: var(--color-text-dark);
    }
  }

  .navbar-icons2 {
    gap: 4px;
  }

  .search-and-sort {
    display: flex;
    align-items: center;
    gap: 10px; 

    button img {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }

    input,
    select {
      padding: 4px 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: white;
      color: #333;
      font-size: 16px; 
    }
  }

  .sort-menu {
    position: relative;
    display: inline-block;

    select {
      display: none;
      position: absolute;
      top: 100%; 
      left: 0;
      margin-top: 4px; 
      padding: 4px 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: white;
      z-index: 1;
    }

    &.show select {
      display: block;
    }
  }
}

@media screen and (max-width: 375px) {
  .navbar {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    ul {
      display: flex;
      flex-wrap: nowrap;
    }

    ul li button {
      white-space: nowrap;
    }

    .navbar-icons a {
      display: none;
    }

    .navbar-divider {
      margin-bottom: 10px;
      width: 100%;
      .filter-container {
        display: flex;
        align-items: center;
      }

      .Filter,
      .sort {
        text-decoration: none;
        display: inline;
        color: #322826;
      }

      .Filter {
        margin-right: auto;
      }
    }
  }
}

@media screen and (min-width: 376px) {
  .breadcrumb .chevron-left,
  .breadcrumb .prev,
  .breadcrumb .search,
  .Filter,
  .sort {
    display: none;
  }
}


