.article-search {
  display: flex;
  gap: 8px;
  align-items: center;
  color: var(--color-text-dark);
  margin-left: auto;

  .search-input {
    border: 1px solid #ccc;
    padding: 8px 10px;
    font-size: 16px;
    border-radius: 4px;
    flex-grow: 1;
  }

  .search-icon {
    all: unset;
    cursor: pointer;
    margin-right: 32px;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.8; // 當鼠標懸停時更改圖標透明度
    }
  }
}

/* RWD搜尋 */
@media screen and (max-width: 375px) {
  .article-search {
    display: none;
  }
}
