.custom-breadcrumb {
   margin-left: 300px;
   display: flex;
   flex-direction: column;
   @media (max-width:1024px) {
      margin-left: 0;
   }
}

.main{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-inline: 300px;
    gap: 40px;
    margin-bottom: 48px;
    /* 或許也可用Bootstrap的Grid */
 @media (max-width:1024px) {
       padding-inline: 20px;
    }
 }

 .tabs-desktop {
   margin-left: 300px;
}