<section class="cart-items">
    <header class="cart-header">
      <div class="cart-header-content">
        <p class="cart-item-count">共4項商品</p>
        <div class="view-details">
          <span class="view-details-text">查看細節</span>
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/89a2eb8b3f9339d8295e1ac0899f104210047ebb4df553dd921179c722d37977?apiKey=c27276553397403aa6ef8985c3e17cb4&" alt="" class="arrow-icon" />
        </div>
      </div>
    </header>
    <div class="cart-items-list">
      <article class="cart-item">
        <div class="item-image-wrapper">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/819b9f8b43387cfad31ded61059e69781b11c56d2b946c46067cd840c92979a2?apiKey=c27276553397403aa6ef8985c3e17cb4&" alt="Karl Höfner Allegro 3/4 Violin Outfit" class="item-image" />
        </div>
        <div class="item-details">
          <div class="item-info">
            <p class="item-brand">Karl Höfner</p>
            <h3 class="item-name">Allegro 3/4 Violin Outfit</h3>
          </div>
          <p class="item-price">$8,5000</p>
          <p class="item-quantity">1</p>
        </div>
      </article>
      <article class="cart-item">
        <div class="item-image-wrapper">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/819b9f8b43387cfad31ded61059e69781b11c56d2b946c46067cd840c92979a2?apiKey=c27276553397403aa6ef8985c3e17cb4&" alt="Karl Höfner Allegro 3/4 Violin Outfit" class="item-image" />
        </div>
        <div class="item-details">
          <div class="item-info">
            <p class="item-brand">Karl Höfner</p>
            <h3 class="item-name">Allegro 3/4 Violin Outfit</h3>
          </div>
          <p class="item-price">$8,5000</p>
          <p class="item-quantity">1</p>
        </div>
      </article>
      <article class="cart-item">
        <div class="item-image-wrapper">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/819b9f8b43387cfad31ded61059e69781b11c56d2b946c46067cd840c92979a2?apiKey=c27276553397403aa6ef8985c3e17cb4&" alt="Karl Höfner Allegro 3/4 Violin Outfit" class="item-image" />
        </div>
        <div class="item-details">
          <div class="item-info">
            <p class="item-brand">Karl Höfner</p>
            <h3 class="item-name">Allegro 3/4 Violin Outfit</h3>
          </div>
          <p class="item-price">$8,5000</p>
          <p class="item-quantity">1</p>
        </div>
      </article>
    </div>
  </section>