.violin-loader-bg {
  content: '';
  //   width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /* margin-bottom: 40px; */
  /* margin-top: 56px; */
  background-color: rgba(173, 181, 184, 0.8);
  z-index: 6699;
}

// 以下 top, left, width, height需要調整位置到差不多中間
.violin-loader {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 7.5em);
  width: auto;
  height: 8em;
  font-weight: bold;
  display: inline-block;
}

.violin-loader--hide {
  display: none;
}

// 手機用大小和位置
@media screen and (max-device-width: 480px) {
  .violin-loader {
    top: calc(50% - 2.5em);
    left: calc(50% - 4em);
    width: auto;
    height: 5em;
  }
}
